


::ng-deep .p-card-body {
  background: #ececec;
}

.espacamento-top {
  margin-top: 60px;
}


.card-small {
  width: 50%;
  max-width: 600px;
}

.btn-cancel{
  background: gray;
  border-color: gray;
}

.center-div{
  display: flex;
  justify-content: center;
}
